.modal .ant-modal-content {
  max-height: calc(100vh - 50px);
  overflow: auto;
}

.custom-table .ant-table-cell {
  font-size: 12px;
}

.custom-table .ant-table-thead > tr > th {
  font-size: 12px;
}
